@media(min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

}

@media(max-width: 1200px) {

  .banner-bottom{
    margin-top: auto;
  }

  .catalog-banner__wrapper{
    min-height: auto;
  }

  .news-list__item_pic .news-list__caption {
    position: static;
    color: #333333;
    background-color: #fff;
  }

  .container {
    max-width: 100%;
  }

  .galary-list {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .galary-list li {
    width: 32%;

  }

  .month-item__galary {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .month-item__galary li:nth-child(4n-3),
  .month-item__galary li:nth-child(4n-2),
  .month-item__galary li:nth-child(4n-1),
  .month-item__galary li:nth-child(4n) {
    grid-row-start: auto;
    grid-row-end: auto;
    width: auto;
    height: auto;
    margin: 0;
  }

  .stages__progress {
    margin-right: 0;
  }

  .news-list {
    -webkit-column-count: auto;
    column-count: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 0;
    column-gap: 0;
  }

  .news-list li {
    width: 32%;
  }

  .stages__video-link span {
    font-size: 14px;
  }

  .news-list li:nth-child(4) {
    margin-top: 0;
  }

  .contacts__map #map {
    height: 530px;
  }

  .info {
    padding-top: 40px;
  }

  .house-slider__nav {
    position: static;
    margin-top: 20px;
  }

  .picblock__text_first {
    padding-left: 20px;
  }

  .house-slider__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .house-slider__info {
    padding-top: 20px;
    padding-left: 0;
  }

  .foooter-form form {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .map-pan {
    margin-bottom: 40px;
  }

  .options {
    margin-bottom: 40px;
  }

  .galary {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .footer {
    background-position: calc(100% - 20px) 100%;
  }

  /* catalog */

  .catalog-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
  }

  .catalog-form:after {
    /* display: none; */
    width: 15px;
  }

  .catalog-form:before {
    /* display: none; */
    width: 15px;
  }

  .catalog-list__item {
    padding: 10px 20px;
  }

  .catalog-list__item {
    max-width: 270px;
  }

  .catalog-list__image {
    max-width: 100%;
  }

  .catalog-list__price {
    font-size: 20px;
  }

  .catalog-list__caption {
    font-size: 18px;
  }

  .catalog-list__image {
    margin-bottom: 20px;
  }

  .catalog-list__more-link {
    font-size: 14px;
    padding: 20px;
  }

}

@media (max-width: 990px) {

  .search-form__radios label{
    font-size: 14px;
  }

  .catalog-banner__caption{
    margin-top: 40px;
  }

  .maps__filter {
    position: static;
  }

  .news-list li {
    width: 49%;
  }

  .contacts-info {
    padding-top: 80px;
  }

  .contacts__map {
    min-width: 50%;
  }

  .apartment__image {
    max-width: 320px;
    width: 100%;
  }

  .breadcrumbs li:not(:last-child) {
    margin-right: 4px;
  }

  .beadcrumbs__current-location {
    font-size: 10px;
  }

  .apartment__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .beadcrumbs__link svg {
    margin-right: 5px;
    height: 4px;
    width: 9px;
  }

  .breadcrumbs li:last-child svg{
    height: 4px;
    width: 9px;
    margin-right: 5px;
  }

  .beadcrumbs__link span {
    font-size: 10px;
    line-height: 1.2;
  }

  .apartment__info {
    min-width: 100%;
  }

  .header-menu {
    margin-top: 0;
  }

  .header-menu::after {
    display: none;
  }

  /* .xs-menu {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #fff;
    margin: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  } */

  /* .xs-menu_active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  } */

  .header-menu .logo svg {
    height: 45px;
    width: 120px;
  }

  .header-menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .header-menu__links li {
    margin: 0;
  }

  .header-menu__links li:not(:last-child){
    margin-right: 24px;
  }

  .header-menu__links li:last-child {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: 0;
  }

  .header-menu__link {
    padding: 5px 0;
    display: block;
  }

  a.header-menu__phone {
    /* border: 1px solid #ea9746; */
    display: block;
    /* background-color: transparent;
    padding: 15px;
    margin: 10px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s; */
  }

  /* a.header-menu__phone:hover {
    background-color: #ea9746;
  } */

  .banner-bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: auto;
  }

  .banner__caption {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .caption,
  p.caption {
    font-size: 24px;
    line-height: 1.2;
  }

  p.text,
  .text{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .stats {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 32px;
    padding: 10px;
    margin-top: 10px;
  }

  .stats::before,
  .stats::after {
    width: 15px;
  }

  .picblock__text_first {
    padding: 20px 0 0;
  }

  .picblock__picrow {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .picblock__picrow_second .picblock__image {
    max-width: 100%;
    margin-bottom: 12px;
  }

  .picblock__caption {
    font-size: 24px;
    line-height: 1.2;
  }

  .picblock__description{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .picblock__picrow_third .picblock__image {
    max-width: 100%;
    min-width: auto;
  }

  .picblock__text_third {
    padding-left: 0;
    padding-top: 20px;
  }

  .pan-image {
    max-height: 80vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .options__caption {
    margin-bottom: 20px;
  }

  .options__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .options__list>li {
    min-width: 320px;

  }

  .house-slider__galary {
    min-width: 100%;
  }

  .maps__filter-list {
    padding: 0 10px;
  }

  .maps__filter li {
    margin: 3px;
  }

  #map {
    margin-bottom: 20px;
    max-height: 80vh;
  }

  .galary {
    padding-bottom: 30px;
  }

  .foooter-form form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .foooter-form__submit {
    margin-top: 28px;
  }

  .footer-form__inputblock {
    max-width: 100%;
    min-width: auto;
  }

  a.phone__number {
    font-size: 24px;
    line-height: 1.2;
  }

  .footer__studio-link {
    margin-left: 0;
    margin-top: 20px;
  }

  .catalog-list {
    padding-bottom: 20px;
  }

}

@media(max-width:767px) {

  .phone{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .search-form__search input[type="search"]::-webkit-input-placeholder{
    font-size: 12px;
  }

  .search-form__search input[type="search"]:-ms-input-placeholder{
    font-size: 12px;
  }

  .search-form__search input[type="search"]::-ms-input-placeholder{
    font-size: 12px;
  }

  .search-form__search input[type="search"]::placeholder{
    font-size: 12px;
  }

  .search-form__radios label:not(:last-child){
    margin-right: 10px;
  }
  
  .news-wrapper__searchform{
    margin-bottom: 20px;
  }

  .search-form__radios label{
    font-size: 12px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .search-form__search{
    margin-bottom: 10px;
  }
  
  .search-form__radios{
    margin-bottom: 10px;
  }

  .search-form{
    -ms-flex-wrap: wrap;
    
        flex-wrap: wrap;
  }

  .catalog-form__block{
    margin-right: 10px;
  }
  
  .banner__link {
     width: 100%;
     border-radius: 0;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     height: auto;
     padding: 16px;
     position: relative;
   }

   .banner__link:after {
     content: '';
     position: absolute;
     width: 15px;
     height: 100%;
     background: rgba(234, 151, 70, 0.86);
     top: 0;
     left: 100%;
   }

   .banner__link:before {
     content: '';
     position: absolute;
     width: 15px;
     height: 100%;
     background: rgba(234, 151, 70, 0.86);
     top: 0;
     right: 100%;
   }


  .banner{
    height: auto;
    background-size: cover;
  }
  .banner-wrapper{
    height: 460px;
  }

  .months-galary{
    margin-bottom: 20px;
  }

  .month-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .month-item__galary{
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .stages__caption{
    margin-bottom: 20px;
  }

  .stages__description{
    font-size: 12px;
  }

  a.stages__video-link span{
    font-size: 14px;
  }

  .documents-items__arrow{
    width: 10px;
  }

  .documents__caption{
    margin-top: 20px;
  }

  .documents-items__name,
  .documents-items__author ,
  .documents-items__date{
    font-size: 12px;
    line-height: 1;
  }

  .catalog-list__image{
    margin-bottom: 10px;
    height: 200px;

    width: 100%;

    -o-object-fit: contain;

       object-fit: contain;
  }

  .catalog-list__price{
    font-size: 12px;
    line-height: 1.2;
  }

  .catalog-list__caption{
    font-size: 14px;
    line-height: 1.2;
  }

  .catalor-form__options input+label{
    width: 35px;
    height: 35px;
    font-size: 12px;
  }

  .catalog-banner__wrapper{
    min-height: auto;
  }

  .catalog-banner__caption{
    font-size: 24px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .news__caption{
    margin-top: 20px;
  }
  
  .news-list__caption {
    font-size: 12px;
    padding: 10px;
    line-height: 1.2;
    font-weight: 400;
  }

  .news-list__image{
    height: 140px;
  }

  .news-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 10px;
    margin-bottom: 20px;
  }

  .apartment__breadcrumbs{
    margin-bottom: 20px;
  }

  .galary-list li{
    margin-bottom: 8px;
  }

  .galary-list li:first-child {
    height: 192px;
  }

  .galary-list li:nth-child(2){
    height: 246px;
  }

  .galary-list li:nth-child(3){
    height: 148px;
  }

  .galary-list li:nth-child(4){
    height: 98px;
  }

  .galary-list li:nth-child(5){
    height: 192px;
  }

  .galary-list li:nth-child(6) {
    height: 179px;
  }

  .galary-list li:nth-child(7){
    height: 109px;
  }

  .galary-list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 620px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  
  
  .options__text{
    font-size: 12px;
  }

  .options__list>li{
    width: 230px;
    min-width: 230px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-right: 16px;
  }

  .options__item{
    padding: 16px;
  }

  .options__list{
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    padding: 10px;
  }

  .picblock__picrow_third{
    margin-left: 35px;
  }

  .picblock__picrow_first .picblock__image {
    position: relative;
    right: 15px;
    max-width: 100%;
  }

  .picblock__picrow_first .picblock__text_first {
    position: relative;
    bottom: 50px;
    padding: 16px 16px 0 16px;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.78);
  }

  .stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .stats__description{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .stats__value{
    font-size: 32px;
    text-align: center;
    line-height: 1.2;
  }

  .phone__description{
    padding: 0 20px;
    font-size: 12px;
  }

  .contacts-info__caption{
    margin-bottom: 10px;
  }

  .contacts__link{
    font-size: 16px;
    line-height: 1;
  }

  .contacts-info__adress{
    font-size: 16px;
    line-height: 1.2;
  }

  .contacts-info__time{
    margin-bottom: 20px;
  }

  a.catalog-list__more-link {
    font-size: 12px;
    padding: 10px 0;
    margin-top: 10px;
  }

  .catalog-list__more-link-wrapper {
    grid-column-end: 3;
  }

  .footer__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .footer__copyright {
    display: block;
    text-align: center;
  }

  a.footer__studio-link {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  a.privacy-policy {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__subcaption,
  .footer__list {
    text-align: center;
  }

  .foooter-form {
    display: none;
  }

  .galary-list li {
    width: calc(50% - 5px);
  }

  .progress-item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .stages__current-stage {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .stages__progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .stages__top {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .stages__info {
    margin-bottom: 0;
  }

  .stages__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .documents-items__item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .documents-items__document {
    font-size: 14px;
    line-height: 1.2;
  }

  .documents-items__list{
    padding-top: 20px;
  }

  .documents-items__caption span {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 10px;
  }

  .documents-items__file{
    width: 18px;
  }


  .news-list li {
    width: 100%;
    margin-bottom: 0;
  }

  .contacts__map #map {
    height: 300px;
  }

  .contacts-info {
    padding: 20px;
  }

  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .apartment__list li {
    width: auto;
  }

  .apartment__list li:not(:last-child){
    margin-bottom: 10px;
  }

  .apartment__list-proterty::after {
    width: 75vw;
  }

  .apartment__info {
    padding: 20px;
  }

  .apartment {
    padding-bottom: 0;
  }

  .apartment__list {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .apartment__structure-info p {
    font-size: 14px;
    line-height: 1;
    margin-right: 16px;
  }
  
  .apartment__structure-info span{
    font-size: 18px;
    line-height: 1;
  }

  .apartment__structure-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .apartment__structure-info:not(:last-child){
    margin-bottom: 0;
  }

  .apartment__caption {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .apartment__values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .apartment__price {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .apartment__list-proterty {
    font-size: 14px;
  }

  .apartment__list-value {
    font-size: 14px;
  }

  .maps__filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .catalog-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding-top: 20px;
  }

  .catalog-form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 0;
  }

  .catalog-form__custom-plan+label {
    font-size: 10px;
  }

  .apartment__structure-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  a.apartment__request {
    font-size: 12px;
    padding: 0 12px;
    margin-right: 0;
    width: 100%;
  }

}


/* new adative*/

@media (max-width: 1200px){

   .search-form__search input[type="search"] {
     min-width: auto;
   }
  
  header{
    background-color: #fff;
  }

  .header-menu{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 10px 0;
    /* padding-top: 10px; */
  }

  .xs-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    overflow-x: scroll;
    overflow-y: hidden; 
    
  }
  
  .header-menu__links{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
  }
  
  a.header-menu__link{
    white-space: nowrap;
    font-size: 12px;
  }

  .header-menu .logo{
    /* margin-left: 10px; */
  }

  a.header-menu__phone{
    margin-right: 10px;
  }
  .banner__link span{
    font-size: 12px;
  }

  .banner__link svg{
    width: 16px;
    height: 16px;
  }

  .info__caption{
    margin-bottom: 8px;
  }

  .info-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .maps__filter-button {
    padding: 8px 16px;
    font-size: 12px;
     -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
     border-radius: 4px;
  }

}