@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src:
    url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: 
    url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light/Montserrat-Light.eot');
  src: 
    url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
  src: 
    url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot');
  src:
    url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


*{
  outline: none !important;
}

ul,p,li,span,label{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

body{
  font-family: 'Montserrat';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

a:hover,
a:focus{
  text-decoration: none;
}

.body-ofh{
  overflow: hidden;
}

.caption,
p.caption {
  color: #1a1410;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

p.text,
.text{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.banner{
  background-image: url(../images/main.png);
  height: 768px;
  max-height: 100vh;
  background-size: 1980px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  position: relative;
  z-index: 10;
}

.header-menu:after{
  content: '';
  position: absolute;
  width: calc(100% + 60px);
  left: -30px;
  height: 100px;
  background-color: rgba(256,256,256,.4);
  z-index: 1;
}

a.header-menu__phone{
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.header-menu .logo{
  position: relative;
  z-index: 3;
}

.xs-menu{
  margin-left: 40px;
  margin-right: auto;
  width: 100%;
  position: relative;
  z-index: 3;
}

.header-menu__links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__links li:last-child{
  margin-right: 0;
  margin-left: auto;
}

.header-menu__links li{
  margin-right: 24px;
}

a.header-menu__link{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

a.header-menu__link:hover{
  color: #ea9746;
}

.banner__caption{
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  font-family: 'Playfair Display';
  margin-top: auto;
  margin-bottom: 0;
}

.banner-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 768px;
  max-height: calc(100vh - 113px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-wrapper__building{
  position: absolute;
  right: 160px;
  top: 69px;
  width: 308px;
  z-index: 11;
}

.banner-bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 64px;
}

.banner__link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background-color: rgba(234, 151, 70, 0.86);
}

.banner__link svg{
  margin-bottom: 5px; 
}

.banner__link span {
  color: #191410;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}



.info{
  padding-top: 95px;
}

.info__caption{
  margin-bottom: 24px;
}

.stats{
  background-color: #fef8ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 64px;
  position: relative;
  margin-bottom: 64px;
  margin-top: 40px;
}

.stats:before{
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 30px;
  height: 100%;
  background-color: #fef8ef;
}

.stats:after{
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 30px;
  height: 100%;
  background-color: #fef8ef;
}

.stats__stat{
  padding: 0 5px;
}

.stats__value{
  color: #1a1410;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 8px;
}

.stats__description{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.picblock__picrow{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 64px;
}

.picblock__text_first{
  max-width: 560px;
  padding-top: 120px;
}

.picblock__caption{
  color: #1a1410;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}

.picblock__description{
  color: #333333;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.picblock__picrow_second{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 896px;
  margin-right: 0;
  margin-left: auto;
}

.picblock__picrow_second .picblock__image {
  margin-bottom: 24px;
}

.picblock__picrow_second .picblock__description {
  max-width: 610px;
}

.picblock__subcaption{
  color: #1a1410;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.picblock__picrow_third .picblock__image {
  min-width: 592px;
}

.picblock__text_third{
  padding-left: 48px;
  padding-top: 100px;
}

.map-pan__caption{
  text-align: center;
  margin-bottom: 15px;
}

.map-pan{
  margin-bottom: 126px;
}

.pan-image{
  position: relative;
  height: 648px;
  
}

.pan-image:after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  background-image: url(../images/map-icon.png);
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.pan-image:hover:after,
.pan-image:active:after,
.pan-image:focus:after {
  opacity: 0;
}

.pan-image img{
  height: 100%;
}

.paver__fallbackMessage{
  display: none;
}

.options__caption{
  margin-bottom: 48px;
}

.options__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options__list>li{
  width: 30%;
  margin-bottom: 24px;
}

.options__subcaption {
  color: #191410;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.options__text{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.options__stats li{
  margin-bottom: 8px;
}

.house-slider__item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.house-slider__galary{
  position: relative;
  min-width: 593px;
  min-height: 474px;
}

.house-slider__rail-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -o-object-fit: cover;
     object-fit: cover;
}

.house-slider__rail-image_active{
  opacity: 1;
}

.house-slider__caption{
  margin-bottom: 24px;
}

.house-slider__text{
  margin-bottom: 16px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.house-slider__info{
  padding-left: 48px;
  padding-top: 57px;
  /* position: relative; */
}

.house-slider__zones{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.house-slider__zone{
  width: 20%;
  position: relative;
}

.house-slider__zone:after{
  content: '';
  position: absolute;
  bottom: 16px;
  width: 90%;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(256,256,256,.5);
  -webkit-transition: .3s;
  transition: .3s;
}

.house-slider__zone_active:after{
  background-color: rgba(256, 256, 256, 1);
}

.house-slider__nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  position: absolute;
  right: 240px;
  bottom: 0;
}

.house-slider__nav .slick-prev{
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.house-slider__nav .slick-next{
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.house-slider__nav .slick-arrow {
  opacity: .4;
}

.house-slider__nav .slick-dots{
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house-slider__nav .slick-dots li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 8px;
}

.house-slider__nav .slick-dots button{
  border: none;
  padding: 0;
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #dad9d9;
  -webkit-transition: .3s;
  transition: .3s;
}

.house-slider__nav .slick-dots .slick-active button{
  background-color: #191410;
}

.options{
  margin-bottom: 126px;
}

.maps__caption{
  text-align: center;
  margin-bottom: 32px;
}

.maps{
  position: relative;
}

#map{
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

.maps__filter{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.maps__filter-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.maps__filter li{
  margin: 0 16px;
}

.maps__filter-button{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: #FFFFFF;
  padding: 0 26px;
  -webkit-transition: .3s;
  transition: .3s;
}

.maps__filter-list input[type="checkbox"]{
  display: none;
}

/* .maps__filter-list input[type="checkbox"]:checked + label{
  background-color: #ea9746;
} */

.maps__filter-list input[type="checkbox"]:checked+label.maps__filter-button_pink{
  background-color: #E0A4E1;
}

.maps__filter-list input[type="checkbox"]:checked+label.maps__filter-button_blue{
  background-color: #A4B5E1;
}

.maps__filter-list input[type="checkbox"]:checked+label.maps__filter-button_green{
  background-color: #A4E1A6;
}

.maps__filter-list input[type="checkbox"]:checked+label.maps__filter-button_turquoise{
  background-color: #A4E1E1;
}

.maps__filter-list input[type="checkbox"]:checked+label.maps__filter-button_red{
  background-color: #E1A4A4;
}

.maps__filter-list input[type="checkbox"]:checked+label.maps__filter-button_orange{
  background-color: #E1C9A4;
}







.galary{
  padding-top: 126px;
  /* padding-bottom: 110px; */
}

.galary__caption{
  margin-bottom: 24px;
}

.galary-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1110px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
}

.galary-list li:last-child{
  grid-column-start: 3;
  
}

.galary-list__item {
  display: block;
}

.galary-list__item {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.galary-list__item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(234, 151, 70, .6);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTYuOTY2IDU2Ljk2NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTYuOTY2IDU2Ljk2NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBjbGFzcz0iIj48Zz48cGF0aCBkPSJNNTUuMTQ2LDUxLjg4N0w0MS41ODgsMzcuNzg2YzMuNDg2LTQuMTQ0LDUuMzk2LTkuMzU4LDUuMzk2LTE0Ljc4NmMwLTEyLjY4Mi0xMC4zMTgtMjMtMjMtMjNzLTIzLDEwLjMxOC0yMywyMyAgczEwLjMxOCwyMywyMywyM2M0Ljc2MSwwLDkuMjk4LTEuNDM2LDEzLjE3Ny00LjE2MmwxMy42NjEsMTQuMjA4YzAuNTcxLDAuNTkzLDEuMzM5LDAuOTIsMi4xNjIsMC45MiAgYzAuNzc5LDAsMS41MTgtMC4yOTcsMi4wNzktMC44MzdDNTYuMjU1LDU0Ljk4Miw1Ni4yOTMsNTMuMDgsNTUuMTQ2LDUxLjg4N3ogTTIzLjk4NCw2YzkuMzc0LDAsMTcsNy42MjYsMTcsMTdzLTcuNjI2LDE3LTE3LDE3ICBzLTE3LTcuNjI2LTE3LTE3UzE0LjYxLDYsMjMuOTg0LDZ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.galary-list__item:hover:after {
  height: 100%;
}

.galary-list__item img{
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galary-list li{
  width: 32%;
  margin-bottom: 16px;
}

.phone{
  background-color: #fef8ef;
  padding-top: 64px;
  padding-bottom: 66px;
}

a.phone__number{
  color: #000000;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 1.92px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 16px;
  display: block;
}

.phone__description{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.footer{
  background-color: #191410;
  padding-top: 51px;
  padding-bottom: 50px;
  background-image: url(../images/footer-bg.png);
  background-position: calc(100% - 280px) 100%;
  background-repeat: no-repeat;
}

.footer__logo{
  display: inline-block;
  margin-bottom: 36px;
}

.footer__subcaption{
  color: #959391;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.footer__subcaption{
  margin-bottom: 4px;
}

.footer__list li{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.footer__list{
  margin-bottom: 24px;
}

a.footer__number,
a.footer__email{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

a.footer__number:hover,
a.footer__email:hover{
  text-decoration: underline;
}

.footer__copyright,
a.privacy-policy{
  color: #959391;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
}

a.privacy-policy:hover{
  text-decoration: underline;
}

a.privacy-policy{
  white-space: nowrap;
}

a.footer__link{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

a.footer__link:hover{
  text-decoration: underline;
}

.footer-form__inputblock{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-width: 350px;
}

.footer-form__description{
  color: #959391;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.footer-form__description a{
  color: #959391;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
}

.foooter-form form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

}

.footer-form__inputblock label{
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.footer-form__input {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #fff;
  height: 44px;
  padding-left: 16px;
  margin-right: 8px;
}

.footer-form__inputblock input::-webkit-input-placeholder{
  color: #575350;
}

.footer-form__inputblock input:-ms-input-placeholder{
  color: #575350;
}

.footer-form__inputblock input::-ms-input-placeholder{
  color: #575350;
}

.footer-form__inputblock input::placeholder{
  color: #575350;
}

.foooter-form__submit{
  border: 1px solid #ea9746;
  background-color: transparent;
  height: 44px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 32px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 28px;
}

.foooter-form__submit:hover{
  background-color: #ea9746;
}

a.footer__studio-link{
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: 0;
  opacity: .16;
  -webkit-transition: .3s;
  transition: .3s;
}

a.footer__studio-link:hover{
  opacity: 1;
}

/*catalog*/

.catalog-banner{
  background-image: url(../images/catalog-bg.png);
  
  background-size: cover;
}

.catalog-banner__wrapper{
  min-height: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-banner__caption{
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  font-family: 'Playfair Display';
  margin-bottom: 48px;
}

.catalog-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  background-color: #fef8ef;
  position: relative;
}

.catalog-form__block_range{
  min-width: 250px;
}

.catalor-form__options{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.catalor-form__name{
  color: #75726e;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px;
}

.catalog-form__custom-plan{
  display: none;
}

.catalog-form__custom-plan + label{
  color: #75726e;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  padding-left: 30px;
  margin-top: 30px;
}

.catalog-form__custom-plan+label:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../images/checkbox.png);
  width: 22px;
  height: 22px;
  background-size: auto;
  background-position: center;
}

.catalog-form__custom-plan:checked + label:before{
  background-image: url(../images/checkbox-filled.png);
}

.catalor-form__options input{
  display: none;
}

.catalor-form__options li:not(:last-child){
  margin-right: 8px;
}

.catalor-form__options input + label{
  width: 45px;
  height: 45px;
  border: 1px solid #191410;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

.catalor-form__options input:checked + label{
  background-color: #e1b285;
}

.catalog-form:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  width: 43px;
  background-color: #fef8ef;
  height: 100%;
}

.catalog-form:before{
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 43px;
  background-color: #fef8ef;
  height: 100%;
}

.catalog-form__block_range .irs--flat .irs-bar {
  height: 2px;
  background-color: #e1b285;
  top: 29px;
}

.catalog-form__block_range .irs--flat .irs-line{
  height: 2px;
  top: 29px;
}

.catalog-form__block_range .irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  background-color: #e1b285;
  border-radius: 50%;
}

.catalog-form__block_range .irs--flat .irs-handle>i:first-child {
  display: none;
}

.catalog-form__block_range .irs--flat .irs-from,
.catalog-form__block_range .irs--flat .irs-to,
.catalog-form__block_range .irs--flat .irs-single{
  background-color: #e1b285;
}

.catalog-form__block_range .irs--flat .irs-from::before,
.catalog-form__block_range .irs--flat .irs-to::before,
.catalog-form__block_range .irs--flat .irs-single::before{
  border-top-color: #e1b285;
}

.catalog-form__block_range .irs--flat .irs-min,
.catalog-form__block_range .irs--flat .irs-max{
  display: none;
}

.catalog-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: 40px 20px;
  padding-bottom: 120px;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-list__item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.catalog-list__item:hover{
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.catalog-list__caption{
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.catalog-list__price{
  color: #e1b285;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.catalog-list__image{
  margin-bottom: 60px;
  max-height: 260px;
}

.catalog-list__caption{
  margin-bottom: 10px;
}

.catalog-list__more-link-wrapper{
  grid-column-start: 1;
  grid-column-end: 4;
}

a.catalog-list__more-link{
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  background-color: #a4c9e1;
  text-align: center;
  display: block;
  padding: 36px 0;
  -webkit-box-shadow: 0 0 10px rgba(164, 201, 225, 1);
          box-shadow: 0 0 10px rgba(164, 201, 225, 1);
  -webkit-transition: .3s;
  transition: .3s;
}

a.catalog-list__more-link:hover{
  -webkit-box-shadow: 0 0 10px rgba(164, 201, 225, 0);
          box-shadow: 0 0 10px rgba(164, 201, 225, 0);
}

.catalog-form__block_checkbox{
  min-width: 220px;
}

/* structures */

.structures {
  background-image: url(../images/structures.png);
  background-position: center 0;
  background-repeat: no-repeat;
  min-height: 768px;
}

.header-menu_transparent{
  margin-top: 16px;
}

.header-menu_transparent:after{
  display: none;
}

.structures__items{
  width: 100%;
  position: relative;
  height: 684px;
}

.structure-item{
  position: absolute;
}

.structure-item{
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.structure-item:hover {
  opacity: 1;
}

.structure-item_first{
  left: 77px;
  top: -23px;
  display: block;
}

.structure-item_second{
  right: 177px;
  top: 186px;
  display: block;
}

.structure-item__text{
  position: absolute;
}

.structure-item__text_first{
  right: 41px;
  top: 167px;
}

.structure-item__text_second{
  top: 78px;
  left: 65px;
}

.structure-item__caption{
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  display: block;
  white-space: nowrap;
}

.structure-item__description{
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  display: block;
}

.structure-floors{
  width: 820px;
  margin: 94px 108px 0 auto;
  position: relative;
}

.structure-floors__item{
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.structure-floors__item:hover{
  opacity: 1;
}

.floors-pop-up{
  position: absolute;
  display: none;
}

.floors-pop-up_active{
  display: block;
}

.floors-pop-up__number p,
.floors-pop-up__value p{
  margin-right: 10px;
}

.floors-pop-up__number{
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.floors-pop-up__value{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*structure*/

.structure{
  background-image: url(../images/structure-bg.png);
  background-position: center 0;
  min-height: 768px;
  background-repeat: no-repeat;
}



/* floor */

.floor__content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.floor__list-caption{
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

a.floor__number{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #a4c9e1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

a.floor__number:hover{
  background-color: #a4c9e1;
}

a.floor__number_active{
  background-color: rgba(234, 151, 70, 0.86);
  border-color: rgba(234, 151, 70, 0.86);
}

a.floor__number_active:hover{
  background-color: rgba(234, 151, 70, 0.86);
}

.floor__list li{
  margin-bottom: 8px;
}

.floor-sprite{
  position: relative;
}

.floor-sprite__action-sprite{
  position: absolute;
  left: 73px;
  top: 25px;
}

.floor-sprite__apartment-svg:hover {
  fill: rgba(234, 151, 70, 0.6);
}

.apartment-popup{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px; 
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: 20;
  display: none;
}

.apartment-popup:after{
  content: '';
  position: absolute;
  top: 100%;
  left: 60px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid #fff;
}

.apartment-popup_active{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apartment-popup__image{
  max-width: 215px;
  margin-right: 16px;
}

.apartment-popup__info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apartment-popup__caption{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.apartment-popup__price{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E1B285;
  margin-bottom: 12px;
}


.apartment-popup__list {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.apartment-popup__list li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(51, 51, 51, .12);
}

.apartment-popup__list-proterty{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  line-height: 1;
  position: relative;
}

.apartment-popup__list-proterty:after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% + 3px);
  height: 1px;
  background-color: #fff;
}

.apartment-popup__list-value{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  line-height: 1;
  position: relative;
}

.apartment-popup__list-value:after{
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: calc(100% + 3px);
  height: 1px;
  background-color: #fff;
}


/*apartment*/

.apartment{
  padding-bottom: 80px;
}

.breadcrumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
}

.breadcrumbs li{
  margin-bottom: 10px;
}

.breadcrumbs li:not(:last-child){
  margin-right: 14px;
}

.breadcrumbs li:last-child{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs li:last-child svg{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-right: 14px;
  opacity: .3;
}

.beadcrumbs__link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.beadcrumbs__link span{
  color: #191410;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  
}

.beadcrumbs__link svg{
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 14px;
}

.beadcrumbs__current-location{
  color: rgba(25, 20, 16, .32);
}

.apartment__breadcrumbs{
  margin-bottom: 30px;
  margin-top: 20px;
}

.apartment__content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.apartment__info{
  min-width: 560px;
  padding: 32px 100px 40px 60px;
  background-color: #fef8ef;
}

.apartment__caption{
  color: #191410;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Playfair Display";
  margin-bottom: 16px;
}

.apartment__price{
  color: #e1b285;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 32px;
}

.apartment__list{
  margin-right: 90px;
}

.apartment__values{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.apartment__list li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.apartment__list li:not(:last-child){
  margin-bottom: 20px;
}

.apartment__list-proterty{
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

.apartment__list-value{
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

.apartment__list-value:before{
  content: '';
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fef8ef;
  z-index: 3;
}

.apartment__list-proterty:after{
  content: '';
  position: absolute;
  left: 0;
  width: 200px;
  border-bottom: 1px solid rgba(51, 51, 51, .12);
  bottom: 0;
  z-index: 2;
}

.apartment__list-proterty:before{
  content: '';
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fef8ef;
  z-index: 3;
}

.apartment__structure-info:not(:last-child){
  margin-bottom: 8px;
}

.apartment__structure-info p{
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.apartment__structure-info span{
  color: #333333;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.apartment__buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.apartment__request{
  color: #191410;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 44px;
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ea9746;
  margin-right: 16px;
  border: 1px solid #ea9746;
  -webkit-transition: .3s;
  transition: .3s;
}

a.apartment__request:hover{
  background-color: transparent;
}

.apartment__print{
  height: 44px;
  border: 2px solid #a4c9e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
}

/* contacts */

.contacts-top{
  position: absolute;
  width: 100%;
}

.contacts__content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__map{
  min-width: 65%;
}

.contacts__map #map{
  margin-bottom: 0;
  height: 780px;
}

.contacts-info__caption{
  margin-bottom: 28px;
}

.header-menu_white:after{
  background-color: #fff;
}

.contacts-info{
  width: 100%;
  background-color: #a4c9e1;
  padding-top: 165px;
  padding-left: 45px;
  padding-right: 45px;
}

.contacts-info__subcaption{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}

.contacts-info__adress{
  color: #191410;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.contacts-info__time{
  color: rgba(25, 20, 16, .54);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.contacts__link{
  color: #191410;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 8px;
}

.news-list{
/*   
  -webkit-column-count: 3;
  
          column-count: 3;
  -webkit-column-gap: 40px;
          column-gap: 40px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 1350px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news-list li{
  width: 31%;
  margin-bottom: 40px;
}

.news-list__date{
  position: absolute;
  top: 16px;
  right: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  z-index: 1;
}

.news-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: relative;
}

.news-list__image-wrapper{
  overflow: hidden;
}

.news-list__image {
  -webkit-transition: .3s;
  transition: .3s;
}

.news-list__item:hover .news-list__image{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news-list__item_pic .news-list__caption {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  color: #fff;
}

.news-list li:nth-child(4){
  margin-top: 50px;
}

.news-list__caption{
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px;
}

.news__caption{
  padding-bottom: 32px;
  margin-top: 40px;
}

.search-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form__radios{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__radios input{
  display: none;
}

.search-form__radios label{
  border: 1px solid #A4C9E1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  height: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
}

.search-form__radios label:not(:last-child){
  margin-right: 16px;
}

.search-form__radios input:checked + label{
  background-color: #A4C9E1;
}

.search-form__search{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(25, 20, 16, .16);
}

.search-form__search input[type="search"]{
  border: none;
  height: 40px;
  padding: 0 0 0 16px;
  min-width: 390px;
}

.search-form__search input[type="submit"] {
  display: none;
}

.search-form__search label{
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  border-left: 1px solid #DAD9D9;
}

.news-wrapper__searchform{
  margin-bottom: 40px;
}

.news-list__image{
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.documents-items__item{
  border: 1px solid #FFE2B8;
  padding: 28px 32px;
  margin-bottom: 24px;
}

.documents-items__caption{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.documents-items__arrow{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.documents-items__caption.collapsed .documents-items__arrow {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.documents-items__caption span{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-left: 0;
  margin-right: auto;
  color: #333333;
  margin-left: 16px;
}

.documents-items__list{
  padding-top: 24px;
}

.documents-items__list li:not(:last-child){
  margin-bottom: 20px;
}

a.documents-items__document{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

a.documents-items__document:hover{
  color: #a4c9e1;
}

.documents__caption{
  margin-bottom: 32px;
  margin-top: 40px;
}

/* stages */


.stages__top {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}

.progress-ring{
  position: relative;
  z-index: 1;
}

.progress-ring__circle {
  -webkit-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.stages__description {
  max-width: 560px;
}

.stages__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 120px;
}

a.stages__video-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.stages__video-link svg {
  margin-right: 8px;
}

a.stages__video-link span {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #A4C9E1;
}

a.stages__video-link:hover span{
  text-decoration: underline;
}

.stages__caption {
  margin-bottom: 24px;
}

.stages__description {
  margin-bottom: 16px;
}

.progress-item {
  position: relative;
  margin-right: 10px;
}

.progress-item:after{
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  margin: auto;
  border: 24px solid #FEF8EF;
  border-radius: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.progress-item__info{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.progress-item__caption{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #191410;
}

.progress-item__value {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #1A1410;
}

.stages__current-stage{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stages__current-stage p{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  
}

.stages__current-stage span{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.month-item__caption{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.month-item____arrow{
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.month-item__caption.collapsed .month-item____arrow {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.month-item__galary{
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.month-item:not(:last-child){
  margin-bottom: 28px;
}

.months-galary{
  margin-bottom: 64px;
}

.month-item__galary li:nth-child(4n-3){
  width: 348px;
  height: 426px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.month-item__galary li:nth-child(4n-2){
  width: 398px;
  height: 520px;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 110px;
}

.month-item__galary li:nth-child(4n-1){
  width: 390px;
  height: 266px;
  grid-row-start: 1;
  grid-row-end: 2;
}

.month-item__galary li:nth-child(4n){
  width: 390px;
  height: 266px;
  grid-row-start: 2;
  grid-row-end: 5;
}

.month-item__image img{
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.month-item__image{
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.month-item__image:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(234, 151, 70, .6);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTYuOTY2IDU2Ljk2NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTYuOTY2IDU2Ljk2NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBjbGFzcz0iIj48Zz48cGF0aCBkPSJNNTUuMTQ2LDUxLjg4N0w0MS41ODgsMzcuNzg2YzMuNDg2LTQuMTQ0LDUuMzk2LTkuMzU4LDUuMzk2LTE0Ljc4NmMwLTEyLjY4Mi0xMC4zMTgtMjMtMjMtMjNzLTIzLDEwLjMxOC0yMywyMyAgczEwLjMxOCwyMywyMywyM2M0Ljc2MSwwLDkuMjk4LTEuNDM2LDEzLjE3Ny00LjE2MmwxMy42NjEsMTQuMjA4YzAuNTcxLDAuNTkzLDEuMzM5LDAuOTIsMi4xNjIsMC45MiAgYzAuNzc5LDAsMS41MTgtMC4yOTcsMi4wNzktMC44MzdDNTYuMjU1LDU0Ljk4Miw1Ni4yOTMsNTMuMDgsNTUuMTQ2LDUxLjg4N3ogTTIzLjk4NCw2YzkuMzc0LDAsMTcsNy42MjYsMTcsMTdzLTcuNjI2LDE3LTE3LDE3ICBzLTE3LTcuNjI2LTE3LTE3UzE0LjYxLDYsMjMuOTg0LDZ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.month-item__image:hover:after{
  height: 100%;
}


