
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('PlayfairDisplay-Bold.otf')  format('opentype'),
	     url('PlayfairDisplay-Bold.woff') format('woff'), url('PlayfairDisplay-Bold.ttf')  format('truetype'), url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
